<div class="container">
    <app-bread-crumb [items]="[{text: 'Categorias'}]"></app-bread-crumb>

    <app-page-header page-title="Categorias" button-text="Inserir" button-link="new" button-class="btn-primary"></app-page-header>

    <div class="container mb-4" align="center">
        <form [formGroup]="searchForm" (click)="search()" class="col-6">
            <div class="row form-group">
                <div class="form-group col-md-9" style="text-align: left">
                    <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Pesquise uma Categoria" formControlName="keyword">
                </div>
                <div class="form-group col-md-3" style="text-align: right">
                    <button type="submit" class="btn btn-primary form-control md-2">Buscar</button>
                </div>
            </div>
        </form>
    </div>


    <table class="table table-hover">
        <thead>
            <tr class="bg-primary text-light">
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of resources">
                <td>
                    <strong>{{category.nome}}</strong><br>
                </td>
                <td>
                    <a [routerLink]="[category.id, 'edit']" class="btn btn-sm mr-2"><i class="fas fa-edit"></i></a>
                    <a (click)="deleteResource(category)" class="btn btn-sm text-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
