<app-bread-crumb
  [items]="[{text: 'Produtos'}]"
></app-bread-crumb>

<app-page-header
  page-title="Produtos"
  button-text="+ Novo Produto"
  button-link="new"
  button-class="btn-success"
></app-page-header>


<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Nome do Produto</th>
      <th>Preço de Compra</th>
      <th>Preço de Venda</th>
      <th>Quantidade</th>
      <th>Categoria</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of resources">
      <td>
        <strong>{{produto.nome}}</strong><br>
      </td>
      <td>
        {{produto.precoCompra}}
      </td>
      <td>
        {{produto.precoVenda}}
      </td>
      <td>
        {{produto.quantidade}}
      </td>
      <td>
        {{produto.categoria.nome}}
      </td>
      <td class="text-center">
        <a [routerLink]="[produto.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(produto)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

