<app-bread-crumb
  [items]="[{text: 'Produtos', link: '/products'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/products"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o Produto
    </div>

    <div class="card-body">
      <div class="form-row">

        <!-- name -->
        <div class="form-group col-md-5">
          <label for="nome">Produto</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">

          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>

        <!-- preco compra -->
        <div class="form-group col-md-3">
          <label for="precoCompra">Valor de Compra</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control text-right" id="precoCompra" formControlName="precoCompra">
          </div>

          <app-form-field-error [form-control]="resourceForm.get('precoCompra')"></app-form-field-error>
        </div>

        <!-- preco venda -->
        <div class="form-group col-md-3">
            <label for="precoVenda">Valor de Venda</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
              </div>
              <input type="text" class="form-control text-right" id="precoVenda" formControlName="precoVenda">
            </div>

            <app-form-field-error [form-control]="resourceForm.get('precoVenda')"></app-form-field-error>
          </div>

          <!-- quantidade -->
        <div class="form-group col-md-3">
            <label for="quantidade">Quantidade</label>
            <div class="input-group">
              <input type="text" class="form-control text-right" id="quantidade" formControlName="quantidade">
            </div>

            <app-form-field-error [form-control]="resourceForm.get('quantidade')"></app-form-field-error>
          </div>

      </div>

      <div class="form-row">

        <!-- category -->
        <div class="form-group col-md-3">
          <label for="categoriaId">Categoria</label>

          <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.nome }}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('categoriaId')"></app-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>

